body {
/*     background-color: #000;
    color: #fff; */
    font-family: 'Courier New', Courier, monospace;
}

main {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

table {
    margin: 50px auto;
}

table, th, td {
    border-collapse: collapse;
    border: none;
}

th, td {
    padding: 5px;
}

p {
    opacity: 0;
    font-size: 0.01px;
}

.inv {
    opacity: 0;
    font-size: 0.01px;
}